/.dart_tool/
/.idea/
/android/
/lib/generated_plugin_registrant.dart
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/build/flutter_assets/
/build/cloud_firestore/
/build/firebase_analytics/
/build/kotlin/
/build/last_build_run.json
/build/firebase_auth/
/build/shared_preferences/
/build/ios/
/build/cache.dill
/build/shared_preferences_macos/
/build/firebase_core/
/build/app/
/build/firebase_core_web/
/build/firebase_auth_web/
/build/shared_preferences_web/
/build/cloud_firestore_web/
